{{page-title "Item"}}
<GeneralContainer>
  <div class="product item-details-page">
    <Product::Image />
    <Product::Details />
  </div>
  <h5 class="mt-5">Features</h5>
  <ul>
    <li>High perfomance</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit!</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsa
      quos nemo?</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minima
      pariatur libero.</li>
    <li>Lorem ipsum dolor sit.</li>
    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis quaerat
      quod ea adipisci blanditiis culpa!</li>
  </ul>
</GeneralContainer>